/*-----------------------

	section-footer

---------------------------*/
.benefit-footer {
  width: 100%;
  height: auto;
}
.benefit-footer__img {
  width: 84px;
  height: 100%;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding-bottom: 19px;
}
.benefit-footer__title {
  font-size: 19px;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
}
.benefit-footer__text {
  font-size: 19px;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}
