.benefit__footer {
  height: auto;
  background-color: #3a3e64;
  padding-bottom: 90px;
}
.benefit__footer-title {
  color: #fff;
  padding-top: 66px;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
.benefit__footer-title--location {
  text-align: center;
}
.benefit__footer-text {
  color: #666699;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 16px;
}
.benefit__footer--social-icon {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  height: auto;
}
.benefit__footer--social-icon-border {
  float: left;
  margin-right: 5px;
  width: 40px;
  height: 38px;
  padding: 0;
  border: 1px solid silver;
  text-align: center;
  padding-top: 7px;
  border: 2px solid #fff;
}
.icon__center {
  padding-left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fa {
  color: #fff;
}
.benefit__footer-text--about {
  font-size: 14px;
  text-align: center;
  color: #666699;
}
