.benefit {
  padding-left: 30px;
  padding-right: 30px;
}
.benefit__img {
  margin-bottom: 25px;
}
.benefit__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
}
.benefit__text {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4;
}
.benefit-lines {
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
