.navigator {
  /*background-color: #78909C;*/
  width: 600px;
  height: 40px;
  padding-top: 20px;
}
.navigation__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 40px 0 0;
}
.navigation__list-element {
  /*border: 1px solid yellow;*/
  color: #fff;
  margin-right: 22px;
  margin-left: 22px;
  font-size: 22px;
}
.navigation__list-element a {
  color: #fff;
  text-decoration: none;
}
.navigation__list-element a:hover {
  text-decoration: underline;
}
