/*-----------------------

	section-mac

---------------------------*/
.container__color {
  background-color: #e6e4df;
  display: flex;
  padding-left: 0;
  height: 100%;
  padding-top: 90px;
  padding-bottom: 110px;
}
.macbook {
  margin-left: 0;
}
.macbook img {
  width: 100%;
  height: auto;
}
.text-right {
  width: 100%;
  padding-right: 60px;
}
.title__mac {
  font-family: 'Relawey Bold', serif;
  font-weight: 700;
  text-align: justify;
  font-size: 19px;
  text-transform: uppercase;
}
.mac__text {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  text-align: justify;
  font-size: 24px;
  margin-bottom: 40px;
}
/*-----------------------

	section-mac__benefit

---------------------------*/
.benefit-mac {
  padding-right: 15px;
}
.benefit-img__mac {
  margin-bottom: 25px;
  text-align: left;
}
.benefit-titile__mac {
  font-family: 'Relawey Bold', serif;
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 15px;
}
.benefit-text__mac {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 19px;
  text-align: left;
  margin-bottom: 15px;
}
.text__center-item {
  text-align: center;
}
/*-----------------------

	start-free-trial__button

---------------------------*/
.start-free-trial-button {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: #3E51B5;
  margin-top: 52px;
  padding: 20px 30px 20px 25px;
  font-size: 17px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Relawey Bold', serif;
  font-weight: 700;
}
.start-free-trial-button:hover,
.start-free-trial-button:focus,
.start-free-trial-button:active {
  border: 2px solid #3E51B5;
  background-color: #fff;
  color: #3E51B5;
  text-decoration: none;
}
